VITE_GITHUB_URL=https://github.com/YugAgarwal005/
VITE_LINKEDIN_URL=https://www.linkedin.com/in/yugagarwal005/
VITE_EMAIL_ID=imyug2005@gmail.com
VITE_CODEFORCES_URL=https://codeforces.com/profile/Yug_Agarwal005
VITE_CODECHEF_URL=https://www.codechef.com/users/agarwal_yug
VITE_LEETCODE_URL=https://leetcode.com/u/agarwal_yug/
VITE_CODOLIO_URL=https://codolio.com/profile/Yug_agarwal
